<div  class="container">
        <nav class="navbar navbar-expand-lg navbar-expand-md navbar-dark fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offset"></div>
            <span class="menu-text d-md-none">Menu</span>
            <div class="header-section">
                <a class="navbar-brand" href="/"><img class="logo" src="../../assets/images/logo.png"></a>

                <div class="collapse navbar-collapse navbar-dark right-nav-section right-nav-section" id="navbarCollapse">
                    <div class="header-buttons">
                        <button class="btn btn-white col-md-24">
                            Lorem Ipsum
                        </button>
                        <button class="btn btn-primary col-md-24">
                            Lorem Ipsum
                        </button>
                        <button class="btn btn-primary col-md-24">
                            Lorem Ipsum
                        </button>
                    </div>
                    <div class="nav-links">
                        <a class="nav-item" href="#">Link 1</a>
                        <a class="nav-item" href="#">Link 2</a>
                        <a class="nav-item" href="#">Link 3</a>
                    </div>
                </div>
            </div>

        </nav>

</div>
